body {
  background: url(../img/common_bg.jpg) top center no-repeat;
  background-attachment: fixed;
}

header {
  background: #141011;
}

.head-wrapper {
  width: 1240px;
  margin: 0 auto;
  height: 36px;
  line-height: 36px;
}

.head-logo {
  background: url(../img/common_ge_mdlogo.svg) top center no-repeat;
  width: 24px;
  height: 24px;
  background-size: cover;
  margin-top: 6px;
}

.head-logo-text {
  background: url(../img/css_set.png) top left no-repeat;
  background-position: -35px -230px;
  width: 188px;
  height: 18px;
  margin-top: 9px;
  margin-left: 10px;
}

.head-slogan {
  font-size: 12px;
  color: #FFFFFF;
  text-align: left;
  margin-left: 20px;
}

.head-contract {
  font-size: 12px;
  color: #FFFFFF;
  text-align: right;
}

.head-contract-link {
  color: #fff;
}

.content-1 {
  height: 568px;
  position: relative;
}

.main-fire {
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url(../img/main_fire.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 1600px;
  height: 407px;
  transform: translate(-50%, -50%);
  transition: all .1s ease-in-out;
}

.main-title {
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url(../img/main_title.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 661px;
  height: 564px;
  transform: translate(-50%, -50%);
  transition: all .1s ease-in-out;
}

.content-1-box {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1240px;
  height: 100%;
  transform: translate(-50%, -50%);
}

.vertical-txt {
  position: absolute;
  left: 0;
  top: 50%;
  background-image: url(../img/vertical_txt.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 12px;
  height: 450px;
  transform: translateY(-50%);
  transition: all .1s ease-in-out;
}

.content-2 {
  height: 368px;
  position: relative;
  z-index: 2;
  background-image: url(../img/title_2bg.jpg);
  background-repeat: no-repeat;
}

.content-2-inner-wrapper {
  position: absolute;
  width: 1240px;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* .content-2-video {
    position: relative;
} */

.video-min-title {
  width: 358px;
  height: 109px;
  background: url(../img/video_min_title.png) top center no-repeat;
  position: absolute;
  left: 40px;
  top: 50px;
}

.hide {
  display: none;
}

.btn-video {
  width: 96px;
  height: 96px;
  background: url(../img/btn_video.png) top center no-repeat;
  position: absolute;
  left: 171px;
  top: 156px;
  cursor: pointer;
}

.title-2 {
  width: 430px;
  height: 480px;
  background: url(../img/title_2.png) top center no-repeat;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.content-3 {
  height: 1075px;
  background: url(../img/common_bg.jpg) top center no-repeat;
  background-attachment: fixed;
  position: relative;
}

.img-box-outter-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1240px;
  height: 720px;
}

.img-box-wrapper {
  width: 1240px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.60);
  border: 1px solid #4E442C;
  box-shadow: 0 10px 40px 0 #000000;
  padding-bottom: 11px;
}

.img-box {
  width: 1257px;
  height: 720px;
  box-sizing: border-box;
  padding: 11px;
  overflow-y: scroll;
}

.masonry {
  -moz-column-count: 4;
  /* Firefox */
  -webkit-column-count: 4;
  /* Safari 和 Chrome */
  column-count: 4;
  -moz-column-gap: 6px;
  -webkit-column-gap: 6px;
  column-gap: 6px;
  width: 100%;
  margin: 0 auto;
}

.item {
  page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
  cursor: pointer;
}

.item__content {
  position: relative;
}

.item__content-mask {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #000000;
  opacity: .8;
  transform: scale(0);
  transition: all .3s ease-in-out;
}

.item:hover .item__content-mask {
  transform: scale(1);
}

.item__content.horizontal {
  width: 300px;
  height: 198px;
  margin-bottom: 6px;
}

.item__content.vertical {
  width: 300px;
  height: 402px;
  margin-bottom: 6px;
}

.item:hover .zoom-in {
  display: block;
}

.zoom-in {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: url(../img/zoom_in.png) top center no-repeat;
  background-size: cover;
  width: 24px;
  height: 24px;
}

.content-3-text {
  letter-spacing: 5px;
  font-size: 24px;
  color: #FFFFFF;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 80px;
}

.content-4 {
  height: 368px;
  background-image: url(../img/title_3bg.jpg);
  background-repeat: no-repeat;
  z-index: 2;
  position: relative;
}

.title-3 {
  width: 405px;
  height: 572px;
  background: url(../img/title_3.png) top center no-repeat;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.content-4-text {
  position: absolute;
  right: 40px;
  top: 50px;
  text-align: center;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 2;
  letter-spacing: 5px;
}

.title-self {
  font-size: 24px;
  letter-spacing: 5px;
}

.title-bottom-bar {
  width: 308px;
  height: 30px;
  background-image: url(../img/css_set.png);
  background-repeat: no-repeat;
  background-position: 0px -200px;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
}

.title-bottom-bar-text {
  bottom: 10px;
}

.title-bottom-text {
  line-height: 3;
  letter-spacing: 5px;
}

.content-5 {
  height: 368px;
  background-image: url(../img/bottom_bg.jpg);
  background-repeat: no-repeat;
  position: relative;
}

.content-5-text {
  font-size: 24px;
  color: #FFFFFF;
  letter-spacing: 5px;
  position: absolute;
  right: 44px;
  bottom: 26px;
}

.content-5-line {
  position: absolute;
  right: 54px;
  height: 2px;
  width: 230px;
  background: #E4C17E;
  bottom: 18px;
}

.horse-btn {
  width: 397px;
  height: 252px;
  background: url(../img/horse_btn.png) top center no-repeat;
  position: absolute;
  left: 50%;
  bottom: 32px;
  transform: translateX(-50%);
}

footer {
  background: #000000;
}

.foot-wrapper {
  width: 1240px;
  margin: 0 auto;
  height: 80px;
  line-height: 80px;
}

.foot-logo {
  background: url(../img/common_ge_mdlogo.svg) top center no-repeat;
  width: 24px;
  height: 24px;
  background-size: cover;
  margin-top: 28px;
}

.foot-logo-text {
  margin-left: 10px;
  font-size: 12px;
  color: #FFFFFF;
  text-align: left;
}

.foot-contract {
  font-size: 12px;
  color: #FFFFFF;
  text-align: right;
}

.foot-contract a {
  font-size: 12px;
  color: #FFFFFF;
}

.foot-contract-link {
  margin-right: 50px;
}

.foot-contract-link:hover {
  border-bottom: 2px solid #D0021B;
}

/* dialog */

.mask {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #000000;
  opacity: .7;
  z-index: 2027;
  transition: all .3s ease-in-out;
}

.ui-dialog {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all .3s ease-in-out;
  z-index: 2028;
}

.ui-dialog.show {
  display: block;
}

.ui-dialog-close {
  position: absolute;
  right: -12px;
  top: -12px;
  width: 24px;
  height: 24px;
  line-height: 20px;
  text-align: center;
  font-size: 24px;
  color: #fff;
  /* background-color: #c5c5c5; */
  opacity: 1;
  cursor: pointer;
  border-radius: 50%;
  z-index: 2000;
}

.ui-dialog-close:hover {
  /* background-color: #f24944; */
}

/* dialog */

/* right-fixed */

.right-fixed {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 133px;
  z-index: 2000;
}

.right-fixed-item {
  cursor: pointer;
  display: block;
}

.right-fixed-div1 {
  width: 160px;
  height: 38px;
  background: url(../img/css_set.png) no-repeat;
  background-position: -32px -248px;
  cursor: none;
}

.right-fixed-div2:hover,
.right-fixed-div2.active {
  background-position: -164px 0;
}

.right-fixed-div2 {
  width: 164px;
  height: 48px;
  background: url(../img/css_set.png) no-repeat;
  background-position: 0 0;
  margin-top: 10px;
}

.right-fixed-div3:hover,
.right-fixed-div3.active {
  background-position: -164px -56px;
}

.right-fixed-div3 {
  width: 164px;
  height: 48px;
  background: url(../img/css_set.png) no-repeat;
  background-position: 0 -58px;
  ;
  margin-top: 10px;
}

.right-fixed-div4:hover,
.right-fixed-div4.active {
  background-position: -164px -112px;
}

.right-fixed-div4 {
  width: 164px;
  height: 48px;
  background: url(../img/css_set.png) no-repeat;
  background-position: 0 -116px;
  margin-top: 10px;
}

.right-fixed-div5:hover {
  background-position: -164px -168px;
}

.right-fixed-div5 {
  width: 164px;
  height: 30px;
  background: url(../img/css_set.png) no-repeat;
  background-position: 0 -168px;
  margin-top: 10px;
  opacity: 0;
}

.right-fixed-div5.show {
  opacity: 1;
}

/* right-fixed */

/* scroll-bar */

.scroll-wrapper {
  position: absolute;
  top: 18px;
  right: -36px;
  height: 684px;
  width: 18px;
  background-image: url(../img/image_track.svg);
  background-position: top center;
  background-repeat: repeat-y;
}

.top-dot,
.bottom-dot {
  position: absolute;
  background: #C6AB76;
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

.top-dot {
  top: -18px;
}

.bottom-dot {
  bottom: -18px;
}

.scroll-bar {
  position: absolute;
  top: 18px;
  width: 8px;
  height: 100px;
  background: #958058;
  border-radius: 3px;
  left: 50%;
  transform: translateX(-50%);
}

.scroll-bar:hover {
  opacity: .6;
}

/* scroll-bar */

/* swiper */

.swiper-container {
  width: 1024px;
}

.swiper-slide {
  text-align: center;
}

/* swiper */

/* video */

.video-wrapper {
  position: relative;
}

.switch-video-wrapper {
  position: absolute;
  bottom: 36px;
  right: 120px;
  color: white;
  cursor: pointer;
}

.video-sharpness-list {
  text-align: center;
  line-height: 1.6;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.sharpness-item:hover {
  color: pink;
}

.sharpness-item {
  cursor: pointer;
}

/* video */
